<div class="container">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">

						<label for="partyName">Supplier Name:</label>
						<select class="form-control" id="partyName">
							<option>Ravindra</option>
							<option>John</option>
						</select>
					</div>
					<div class="form-group">

						<label for="itemName">Item </label>
						<select class="form-control" id="itemName">
							<option>Grease</option>
							<option>Blade 3mm</option>
						</select>
					</div>
					<div class="form-group">
					<label class="control-label" for="quantity">Quantity</label>
					<input class="form-control" id="quantity"
					type="number">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="rate">Rate</label>
					<input class="form-control" id="rate"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="dateInput">Date</label>
					<input class="form-control" id="dateInput"
					type="date">
					</div>
					<div class="form-group">
					<label class="control-label" for="billNumber">Bill Number</label>
					<input class="form-control" id="billNumber"
					type="number">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="balance">Balance</label>
					<input class="form-control" id="balance"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="amount">Amount(Rs)</label>
					<input class="form-control" id="amount"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="unit">Units</label>
					<input class="form-control" id="unit"
					type="currency">
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
</div>


