<h4 class="blog-post-title">Items</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(item);">&nbsp;Add New item</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of items
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter items list ..." class="nav-search-input" ng-model="filterItem" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="items.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-1x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="items.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-1x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in items | filter:filterItem | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.date + c.quantity + c.price + c.modifieddate' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.quantity}}</td><td>{{c.date | date : 'dd-MMM-yyyy'}}</td><td>{{c.modifieddate| date : 'dd-MMM-yyyy'}}</td>
        <td>
            <button class="btn" ng-class="{1:'btn-success', 0:''}[c.sellable]" ng-click="changeitemdeleted(c);">{{c.sellable ? "Active":"Inactive"}}</button>
        </td>
         <td>
            <button class="btn" ng-class="{1:'btn-failure', 0:'btn-success'}[c.deleted]">{{c.deleted ? "Deleted":"Available"}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteitem(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              