<div class="container">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					
					<div class="form-group">
						<label class="control-label" for="dateInput">Date</label>
						<input class="form-control" id="dateInput"
						type="date">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">

						<label for="partyName">Party Name</label>
						<select class="form-control" id="partyName">
							<option>KA 123</option>
							<option>MH ###</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
					<label class="control-label" for="amount">Amount Paid(Rs)</label>
					<input class="form-control" id="amount"
					type="date">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
					<label class="control-label" for="balance">Balance</label>
					<input class="form-control" id="balance"
					type="date">
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>


