<div class="modal-header">
            <h3 class="modal-title">Sale</h3>
        </div>		
<form class="modal-body" name="saleForm">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">

						<label for="partyName">Party Name:</label>
						<select class="form-control" id="partyName" name="partyName" ng-required="true">
							<option selected disabled >Choose Party</option>
							<option ng-repeat="cust in customers" value="{{cust.id}}">{{cust.name}}</option>
						</select>
					    <p ng-show="saleForm.partyName.$invalid" class="help-block">Party name is required.</p>

					</div>
					<div class="form-group">

						<label for="itemName">Item </label>
						<select class="form-control" id="itemName">
							<option selected disabled >Choose Party</option>
							<option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>
						</select>
					</div>
					<div class="form-group">

						<label for="vehicleType">Vehicle Type:</label>
						<select class="form-control" id="vehicleType">
							<option selected disabled >Choose Party</option>
							<option>2</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="cashPaid">Cash Paid</label>
					<input class="form-control" id="cashPaid"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="dateInput">Date</label>
					<input class="form-control" id="dateInput"
					type="date">
					</div>
					<div class="form-group">
						<label for="vehicleNo">Vehicle Number</label>
						<select class="form-control" id="vehicleNo">
							<option ng-repeat="vehicle in vehicles"  value="{{vehicle.id}}">{{vehicle.name}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="balance">Balance</label>
					<input class="form-control" id="balance"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="amount">Amount(Rs)</label>
					<input class="form-control" id="amount"
					type="currency">
					</div>
					<div class="form-group">
					<label class="control-label" for="unit">Units</label>
					<input class="form-control" id="unit"
					type="currency">
					</div>
					
				</div>
			</div>
		</form>
		
</div>
<div class="modal-footer">
            <button ng-disabled="saleForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>