<div class="modal-header">
            <h3 class="modal-title">Soling</h3>
        </div>		
<div class="modal-body">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">

						<label for="sel1">Select Option:</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="noofunits">No. of Units</label>
						<input class="form-control" id="noofunits"
						type="number">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="timeInput">Time</label>
					<input class="form-control" id="timeInput"
					type="time">
					</div>
					<div class="form-group">

						<label for="vehicleNo">Vehicle Number:</label>
						<select class="form-control" id="vehicleNo">
							<option>KA 123</option>
							<option>MH ###</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<label class="control-label" for="dateInput">Date</label>
					<input class="form-control" id="dateInput"
					type="date">
					</div>
					<div class="form-group">

						<label for="driverName">Driver Name</label>
						<select class="form-control" id="driverName">
							<option>Avinash</option>
							<option>Xavier</option>
						</select>
					</div>
				</div>
			</div>
		</div>
<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>