<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">App</a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="ModalCtrl">
            <ul  class="nav navbar-nav navbar-right">
                <!--<li><a href="#/services">Services</a>
                </li>-->
                <li ng-if="uid"><a href="#">{{("Hi,"+ username)}}</a>
                </li>
                <li ng-if="uid">
                    <a href="#" ng-click="open('logout','sm')">Logout</a>
                </li>
                <li ng-hide="uid"><a ng-click="open('login','sm')" href="#">Login</a>
                </li>
                <li><a ng-click="open('outsidetostock')" href="#">Purchase Outside</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Transaction<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="open('sale')" href="#" >Sale</a>
                        </li>
                        <li><a ng-click="open('expense')" href="#" >Expense</a>
                        </li> 
                        <li><a ng-click="open('receipt')" href="#">Generate Receipt</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Soling Entry<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="open('soling')" href="#">To Stock</a>
                        </li>
                        <li><a ng-click="open('soling')" href="#">To Bunker</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Add<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a ng-click="open('soling')" href="#">Purchase Item</a>
                        </li>
                        <li><a ng-click="open('soling')" href="#">New Inventory Item</a>
                        </li>
                        <li><a ng-click="open('addcustomer','sm')" href="#">New Party</a>
                        </li>
                        <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#/users">Users</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">One more separated link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Report<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/report#1">Weekly Sale report</a>
                        </li>
                        <li><a href="#/report#2">Weekly Expense report</a>
                        </li>
                        <li><a href="#/report#2">Balance Sheet</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
